style(type='text/css').
    .carousel{
    width:640px;
    }

extends layout

block content


    
    #myCarousel.carousel.slide(data-ride='carousel')
    
      .carousel-inner
        .carousel-item.active
          img.first-slide(src='images/largefattman.jpg', alt='First slide', width= '100%')
          .container
            .carousel-caption.d-none.d-md-block
              
            
    .container.marketing
     

        // /.col-lg-4
        // /.row
        // START THE FEATURETTES
        hr.featurette-divider
        .row.featurette
          .col-md-7.order-md-2
            h2.featurette-heading
              |About Ryan
            p.lead
              |Ryan Fattman was elected to the State Senate on November 4, 2014, after serving two terms in the Massachusetts House of Representatives and two terms as a selectman in the town of Sutton. He is the first Republican to win an election to the Worcester- Norfolk Senate seat since 1938, when Dr. Wilfred Bazinet was elected from Webster.
              br
              br
              img.featurette-image.img-fluid.mx-auto(src='images/hadleywsign.jpg', alt='Generic placeholder image' height='10%')
          .col-md-5.order-md-1
            br
            img.featurette-image.img-fluid.mx-auto(src='images/ryanNSteph.PNG', alt='Generic placeholder image')
        hr.featurette-divider
        .row.featurette
          .col-md-7
            h2.featurette-heading
              |Background in the Legislature
              span.text-muted
              br
              br 
            p.lead
                |In running for the Senate, Ryan vowed to bring Massachusetts in a new direction: away from the “Taxachusetts” mentality that drives people and jobs to other states, and toward a Massachusetts that is more accountable and affordable.
                br
                |In the State Senate’s first day in the 189th Session, Senator Fattman offered a further amendment to increase transparency in votes taken on Beacon Hill. The Fattman amendment mandated that all recorded votes taken in a senate committee shall be posted no later than 48 hours on the General Court website
          .col-md-5
            img.featurette-image.img-fluid.mx-auto(src='images/ryanelephant.jpg', alt='Generic placeholder image')