extends layout

block content



.container.cent
	form.logo-space
	form.form-signin
		h2.form-signin-heading(style='text-align: center') Sign in
		input.input-block-level(type='text', placeholder='Email address')
		input.input-block-level(type='password', placeholder='Password', style='margin-right:3px;')
		button.btn.btn-large.btn-dark(type='submit') Sign in
		br